{% extends 'studentportal/base1.html' %}
{% block content %}
{% include 'usersPortal/messages/messages.html' %}

<style>
    .btns a{
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 8px;
        height: 50px;
        /* width: 140px; */
        background: #4b4b4b;
        color: #fff;
        transition: 0.3s ease-in;
        display: grid;
        place-items: center;
        cursor: pointer;
        text-decoration: none;
    }
</style>
<!-- <div class="bg-dark py-3">
    <div class="container">
        <div class="btns d-flex">
            <a href="{% url 'usersPortal:updateAccountProfile' %}" class="btn" style="transition: 0.3s ease;"> Edit </a>
            <a href="{% url 'usersPortal:changepassword' %}" class="btn mx-3" style="transition: 0.3s ease;"> Change Password </a>
            <a href="{% url 'usersPortal:resetpassword' %}" class="btn " style="transition: 0.3s ease;"> Reset Password </a>
        </div>

    </div>

</div> -->
<div class="container mt-5 mb-5 px-4 px-md-0" >
    <div class="box_shadow">
        <div class="row" style="box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;">
            <div class="col-md-3" style="background: rgb(138, 21, 21); border-top-left-radius:8px; border-bottom-left-radius:8px;">
                <div class="l_img w-100 d-flex justify-content-center pt-3">
                    <img src="{{ userDetails.userimage.image.url }}" alt="" style="border-radius: 50%; object-fit: cover">
                </div>
            </div>
            <div class="col-md-9 px-2 px-lg-5 pt-4 pb-4 border" style="border-top-right-radius:8px; border-bottom-right-radius:8px;">
                <div class="r_content">
                    <div class="content_wrapper">
    
                        <p> First Name: {{userDetails.first_name}}</p>
                        <p> Middle Name: <span>{{userDetails.middle_name}}</span> </p>
                        <p> Last Name: <span>{{userDetails.last_name}}</span>  </p>
                        <p> Birthdate: <span>{{userDetails.birth_date}}</span>  </p>
                        <p> Sex: <span>{{userDetails.sex}}</span> </p>
                        <p> Contact: <span>{{userDetails.contactnum}}</span>  </p>
                        <p> Address: <span>{{userDetails.useraddress}}</span>  </p>
                        <div class="mt-4">
                            <a href="{% url 'usersPortal:updateAccountProfile' %}" class="btn btn-primary m-2 m-sm-0 mx-sm-1" style="transition: 0.3s ease;"> Edit </a>
                            <a href="{% url 'usersPortal:changepassword' %}" class="btn btn-dark m-2 m-sm-0 mx-sm-1" style="transition: 0.3s ease;"> Change Password </a>
                            <a href="{% url 'usersPortal:resetpassword' %}" class="btn btn-dark m-2 m-sm-0 mx-sm-1" style="transition: 0.3s ease;"> Reset Password </a>
        
                        </div>
                    </div>
    
                </div>
    
            </div>
          
    
        </div>

    </div>
</div>

{% endblock content %}