{% extends 'adminportal/schoolDocuments/schoolDocument_base1.html' %}
{% block content %}
{% load std_portal %}
{% include 'adminportal/messages/messages.html' %}

<div class="container pt-5">
    <div class="w-100 mt-3 d-flex pt-3 justify-content-end">
    </div>

<form id="postForm" class="p-3" method="post">
    {% csrf_token %}
    <!-- List of errors from forms.py -->

    <div class="container col-md-8 mb-2 mt-4 p-3 bg-white box_shadow border rounded">

        <h4 class="form-outline mb-4 mt-2">
            <b>Do you want to hide {{documentName}} ? </b>
        </h4>

        <input type="submit" value="Yes" class="btn btn-danger btn-md mb-2">
        <a href="{% url 'adminportal:schoolDocuments' %}" class="btn btn-primary btn-md mb-2"> Cancel </a>
    </div>

</form>
</div>
</div>

{% endblock content %}