enrollmentapp/node_modules
enrollmentapp/build/*

adminportal/__pycache__/*
adminportal/migrations/__pycache__/*
adminportal/templatetags/__pycache__/*

registrarportal/__pycache__/*
registrarportal/migrations/__pycache__/*
registrarportal/templatetags/__pycache__/*

studentportal/__pycache__/*
studentportal/migrations/__pycache__/*
studentportal/templatetags/__pycache__/*

studentportal_4ng1/__pycache__/*

usersPortal/__pycache__/*
usersPortal/migrations/__pycache__/*
usersPortal/templatetags/__pycache__/*

email_assets.txt

To_add_afterMerge.txt
DumpFiles