{% extends 'studentportal/base1.html' %}
{% block content %}
{% include 'studentportal/messages/messages.html' %}


<style>
       .buttons{
    transition: 0.3s ease-in;
    background: #4b4b4b !important;
        color: #fff;
}
.buttons:hover{
    background: #800000 !important;
    color: #fff !important;
}
</style>
<div class="container col-md-12">

    <div class="buttons_wrapper py-4">
        <h4 class="mb-4"> Type of Applicant </h4>
        {% for type in types %}
    
            <a href="{% url 'studentportal:admission' pk=type.0 %}" class="btn btn-dark btn-lg buttons"> {{type.1}} </a>
        {% endfor %}
    
        <a href="{% url 'studentportal:index' %}" class="btn btn-danger btn-lg"> Back </a>
    </div>
</div>


{% endblock content %}