{% autoescape off %}

    Hi {{account_name}},

    After carefully reviewing your application, we regret to inform you that your application for admission in Leandro Locsin Integrated High School was denied. 
    This is in line with your admission, please upload all the correct documents and check all of your information submitted. 
    
    GUIDE: How to change my documents or update my info? Follow the given steps or click this link http://{{domain}}{% url "studentportal:resend_admission" %}
    1. Login your student account, and click the Applications button from the navigation bar.
    2. Select Admission and click the Resubmit button.
    3. Update your admission details and click Resubmit.
    
    Thank you for your time and effort you put into the application process.
    
    Best regards,

{% endautoescape %}