{% autoescape off %}

    Hi {{account_name}},

    After carefully reviewing your application, we regret to inform you that your application for enrollment in Leandro Locsin Integrated High School was denied. 
    This is in line with your admission, please upload all the correct documents and check all of your information submitted. 
    
    GUIDE: How to change my documents or update my info? Follow the given steps or click this link https://{{domain}}{% url "studentportal:get_submitted_enrollments" %}
    1. Login your student account, and click the Applications button from the navigation bar.
    2. Select Enrollment and click the first school year button.
    3. Click the Resubmit button.
    4. Update your enrollment details and click Resubmit.
    
    Thank you for your time and effort you put into the application process.
    
    Best regards,

{% endautoescape %}