{% autoescape off %}

    Hi {{account_name}},

    After carefully reviewing your application, we regret to inform you that your application for enrollment in Leandro Locsin Integrated High School was denied. 
    This is in line with your admission, please upload all the correct documents and check all of your information submitted. 
    
    GUIDE: How to change my documents or update my info? Click this link http://{{domain}}{% url "studentportal:resubmit_new_enrollee" uid=uid pwd=pwd token=token %}
    1. Update your enrollment details and click Resubmit.
    
    Thank you for your time and effort you put into the application process.
    
    Best regards,

{% endautoescape %}