{% autoescape off %}

    Hi {{account_name}},

    You are now officially enrolled in Leandro Locsin Integrated School.
    Here are your section details:
    Section: {{section_name}}
    Grade: {{yearlevel}}
    Strand: {{strand}}

    First Semester Classes:
    {% for detail in first_sem %}
        {{detail.subject__title}}: {{detail.time_in}} - {{detail.time_out}}
    {% endfor %}

    Second Semester Classes:
    {% for detail in second_sem %}
        {{detail.subject__title}}: {{detail.time_in}} - {{detail.time_out}}
    {% endfor %}

    You can now use your account with the credentials:
    Email: {{email}}
    Password: {{pwd}}

    Kindly change your password upon login.

    Regards,

{% endautoescape %}