{% extends 'studentportal/base1.html' %}
{% block content %}
{% include 'studentportal/messages/messages.html' %}

{% for class in classes %}

<style>
    .sched{
        margin-top: 20px;
        font-size: 18px;
        font-weight: 600;
        padding: 8px 10px;
        margin-bottom: 0px;
    }
    .sched:nth-child(2){
        margin-top: 0;
    }
</style>
    <div class="container bg-light border mt-4 py-4">
        <h4 class="mb-4"> {{class.section_name}} </h4>

        <div class="row">
            <div class="col-md-6">
                <div class="first border rounded bg-white mb-3 p-3">
                    <h6> First Semester </h6>
                    {% for key, value in class.First_sem_subjects.items %}
                        <h6 class="sched"> {{key}}: {{value}} </h6>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-6">
                <div class="second border rounded bg-white mb-3 p-3">
                    <h6> Second Semester </h6>
                    {% for key, value in class.Second_sem_subjects.items %}
                        <h6 class="sched"> {{key}}: {{value}} </h6>
                    {% endfor %}
        
                </div>

            </div>
        

        </div>
        
    </div>

{% empty %}
    <div class="container py-4">
        <div class="alert alert-dark" role="alert">
            No classes found... 
          </div>

    </div>
{% endfor %}

{% endblock content %}