{% extends 'studentportal/base1.html' %}
{% block content %}
{% include 'studentportal/messages/messages.html' %}

{% for class in classes %}

<style>
    .sched{
        margin-top: 20px;
        font-size: 18px;
        font-weight: 600;
        padding: 8px 10px;
        margin-bottom: 0px;
    }
    .sched:nth-child(2){
        margin-top: 0;
    }
</style>
    <div class="container  mt-4 py-4">
        <h4 class="mb-4"> {{class.section_name}} </h4>

        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered bg-white table-striped">
                    <h5 class="mb-4">First Semester</h5>
                    <thead>
                      <tr>
                        <th scope="col">Subjects</th>
                        <th scope="col">Time</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for key, value in class.First_sem_subjects.items %}
                      <tr>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
            </div>
            <div class="col-md-6">
                <table class="table table-bordered bg-white table-striped">
                    <h5 class="mb-4">Second Semester</h5>
                    <thead>
                      <tr>
                        <th scope="col">Subjects</th>
                        <th scope="col">Time</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for key, value in class.Second_sem_subjects.items %}
                      <tr>
                        <td>{{key}}</td>
                        <td>{{value}}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
           

            </div>
        

        </div>
        
    </div>

{% empty %}
    <div class="container py-4">
        <div class="alert alert-dark" role="alert">
            No classes found... 
          </div>

    </div>
{% endfor %}

{% endblock content %}