{% extends 'studentportal/base1.html' %}
{% block content %}
{% include 'studentportal/messages/messages.html' %}

{% for class in classes %}

<style>
    .sched{
        margin-top: 20px;
    }
    .sched:nth-child(2){
        margin-top: 0;
    }
</style>
    <div class="container py-4">
        <h5 class="mb-4"> {{class.section_name}} </h5>
        <div class="first border rounded bg-light mb-3 p-3">
            <p> First Semester </p>
            {% for key, value in class.First_sem_subjects.items %}
                <h6 class="sched"> {{key}}: {{value}} </h6>
            {% endfor %}
        </div>
    
        <div class="second border bg-light mb-3 p-3">
            <p> Second Semester </p>
            {% for key, value in class.Second_sem_subjects.items %}
                <h6 class="sched"> {{key}}: {{value}} </h6>
            {% endfor %}

        </div>
        
    </div>

{% empty %}
    <p> No classes found... </p>
{% endfor %}

{% endblock content %}