{% extends 'studentportal/base1.html' %}
{% block content %}
{% include 'studentportal/messages/messages.html' %}


{% if grade_levels %}
<div class="container py-4">
    {% for yearlevel, quarters in grade_levels.items %}
    
        <h5 class="mb-4"> {{yearlevel}} </h5>
        <div class="row">
            {% for q_name, q_subjects in quarters.items %}
            <div class="col-md-6 mb-4">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">{{q_name}}</th>
                        <th scope="col">Subjects</th>
                        <th scope="col">Grades</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row"></th>
                        {% for subject_code, subject_grade in q_subjects.items %}
                        <td>
                            <p class="m-0"> {{subject_code}} </p>
                        </td>
                        {% endfor %}
                        {% for subject_code, subject_grade in q_subjects.items %}
                        <td>
                            <p class="m-0">{{subject_grade}} </p>
                        </td>
                        {% endfor %}
                      </tr>
                    </tbody>
                  </table>

            </div>
            {% endfor %}

        </div>
    {% endfor %}

</div>

{% else %}
<div class="container py-4">
    <div class="alert alert-dark" role="alert">
        No grades found...
    </div>
</div>
{% endif %}


{% endblock content %}