{% extends 'studentportal/base1.html' %}
{% block content %}
{% include 'studentportal/messages/messages.html' %}


{% if grade_levels %}
<div class="container py-4">
    {% for yearlevel, quarters in grade_levels.items %}
    
        <h5 class="mb-4"> {{yearlevel}} </h5>
        <div class="row">
            {% for q_name, q_subjects in quarters.items %}
            <div class="col-md-6 mb-4">
              <h4 class="mb-4">{{q_name}}</h4>
                <table class="table table-bordered table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Subjects</th>
                        <th class="text-center" scope="col">Grades</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for subject_code, subject_grade in q_subjects.items %}
                      <tr>
                        <td class="border-right">
                            <p class="m-0 "> {{subject_code}} </p>
                        </td>
                          <td>
                            <p class="m-0 text-center">{{subject_grade}} </p>
                          </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>

            </div>
            {% endfor %}

        </div>
    {% endfor %}

</div>

{% else %}
<div class="container py-4">
    <div class="alert alert-dark" role="alert">
        No grades found...
    </div>
</div>
{% endif %}


{% endblock content %}