{% extends 'studentportal/base1.html' %}
{% block content %}
{% include 'studentportal/messages/messages.html' %}


{% if grade_levels %}
<div class="container py-4">
    {% for yearlevel, quarters in grade_levels.items %}
    
        <h5 class="mb-4"> {{yearlevel}} </h5>
        {% for q_name, q_subjects in quarters.items %}
        <div class="bg-light border mb-3 rounded p-3">
            <h4 class="mb-2"> {{q_name}} </h4>
            {% for subject_code, subject_grade in q_subjects.items %}
                <p class="m-0"> {{subject_code}}: {{subject_grade}} </p>
            {% endfor %}

        </div>
        {% endfor %}
    {% endfor %}

</div>

{% else %}
    <h4> No grades found... </h4>
{% endif %}


{% endblock content %}