
{% if user.is_authenticated %}
    <div class="bg-dark py-3">
        <div class="navigation_btn  container">
            <div class="d-flex">
                <a href="{% url 'studentportal:get_submitted_admission' %}" class="box_btn text-white me-3" style="text-decoration: none;">
                    <div class=""> Admission </div>
                </a>
                <a href="{% url 'studentportal:get_submitted_enrollments' %}" class="box_btn text-white" style="text-decoration: none;">
                    <div class="">
                        Enrollment
                    </div> 
                </a>
            </div>
        </div>
    </div>
{% endif %}