{% extends 'adminportal/curriculum/base1.html' %}
{% block content %}
{% load i18n %}
{% load adminportal_tags %}

<div class="container pt-5 d-flex flex-column">
   <h1 style="color:green">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</h1>
   <h4 style="color:green">Grade 11 - Second Semester</h4>
</div>

<div class="container col-md-8 mt-4 p-3 bg-white box_shadow border rounded">
    <form id="postForm" method="post">

        {{ wizard.form.non_field_errors }}
        {% csrf_token %}
        <table>
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %}


        <div class="form-outline mb-2"> 
            <h2>
            {{ wizard.form.g11_secondSem_subjects.errors }} <!-- Field errors -->
            <label for="{{ wizard.form.g11_secondSem_subjects.id_for_label }}" class="form-label"> {{ wizard.form.g11_secondSem_subjects.label }} </label>
           </h2>    
        </div>
        <div class="form-outline mb-4">
        {{ wizard.form.g11_secondSem_subjects|addclass:"form-control"}} <!-- Input Field -->
            </div>
        {% endif %}
        </table>

        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-primary btn-md">{% trans "Prev" %}</button>
        <input type="submit" name="wizard_goto_step" value="Next" class="btn btn-success btn-md">

    </form>
</div>



{% endblock content %}