{% extends 'studentportal/base1.html' %}
{% block content %}
{% load std_portal %}
{% include 'studentportal/messages/messages.html' %}

<style>
    #postForm{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .cards_create_documents{
        background: #fff;
        box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 1px 3px 1px;
        background: #fff;       
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 390px;
        padding: 30px 20px;
        margin: 0 auto;
        margin-top: 50px;
    }
    .cards_create_documents h4{
        padding: 0 !important;
    }
</style>
<div class="container">
    <div class="col-md-12 d-flex ">
        <form id="postForm" method="post">
            {% csrf_token %}
            <!-- List of errors from forms.py -->
            {{ form.non_field_errors }}

            <div class="cards_create_documents">
                <h4 style="text-align: left;"> Request a Document </h4>

                <div class="form-outline mb-4">
                    {{ form.documents.errors }} <!-- Field errors -->
                    <label for="{{ form.documents.id_for_label }}" class="form-label"> {{form.documents.label}} </label>
                    {{ form.documents|addclass:"form-control"}} <!-- Input Field -->
                </div>

                <div class="form-outline mb-4">
                    {{ form.scheduled_date.errors }} <!-- Field errors -->
                    <label for="{{ form.scheduled_date.id_for_label }}" class="form-label"> {{form.scheduled_date.label}} </label>
                    {{ form.scheduled_date|addclass:"form-control"}} <!-- Input Field -->
                </div>

                <input type="submit" value="Submit" class="btn btn-dark btn-md mb-2">
                <a href="{% url 'studentportal:view_myDocumentRequest' %}" class="btn btn-danger btn-md" > Cancel </a>
            </div>

        </form>
    </div>
</div>

{% endblock content %}