{% extends 'studentportal/base1.html' %}
{% block content %}
{% include 'studentportal/messages/messages.html' %}

<style>
    .box_btn{
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    border-radius: 8px;
    height: 50px;
    width: 140px;
    background: #4b4b4b;
    transition: 0.3s ease-in;
    display: grid;
    place-items: center;
    cursor: pointer;
}
.box_btn:hover{
    background: #800000;
    color: #fff !important;
}
</style>
<div class="">
    <div class="col-md-12">
        <div class="bg-dark py-4">
            <div class="container">
                <a href="{% url 'studentportal:create_documentRequest' %}" class="" style="text-decoration: none; color:#fff;"> 
                    <div class="box_btn d-flex justify-content-center align-items-center" style="gap:10px;">
                        <i class="fa fa-file-text" aria-hidden="true"></i>
                        <span>Request +</span> 
                    </div>
                    
                
                </a>

            </div>
        </div>
        <div class="container pt-3">
            {% for document in requestedDocuments %}
                <div class="border bg-light p-3 mb-3">
                    <p> Document: {{document.document}} </p>
                    <p> Date Scheduled: {{document.scheduled_date|date:"l, M d, o"}}  </p>
                    {% if document.can_resched %}
                        {% if document.is_cancelled %} <p> Registrar has cancelled your request. You can resched it to request again. </p> {% endif %}
                        <a href="{% url 'studentportal:reschedDocumentRequest' pk=document.id %}" class="btn btn-primary btn-sm "> Re-schedule </a>
                    {% endif %}
                </div>

            {% empty %}
                <p class="py-3"> No requested documents... </p>
            {% endfor %}

        </div>
    </div>
</div>


{% endblock content %}