{% extends 'adminportal/Shs_courses/courses_base.html' %}
{% block content %}
{% load std_portal %}


<div class="container pt-5">
    <div class="w-100 mt-3 d-flex pt-3 justify-content-end">
  </div>
    



<form id="postForm" class="p-3" method="post">
    {% csrf_token %}
    <!-- List of errors from forms.py -->
    {{ form.non_field_errors }}

    <div class="container col-md-8 mt-4 p-3 bg-white box_shadow border rounded">
        <div class="form-outline mb-4 mt-2">
            <h4> Do you want to delete {{courseObjects.track_name}}?</h4>
            
            {% if courseObjects.strands %} <h6> Related Strands </h6> {% endif %}
            {% for strand in courseObjects.strands %}
                <p> {{strand.strand_name}} </p>
            {% endfor %}

        </div>
            <input type="submit" value="Delete" class="btn btn-danger mb-2 btn-md">
            <a href="{% url 'adminportal:view_courses' %}" class="btn btn-primary mb-2 btn-md"> Back </a>
       
    </div>
</form>

{% endblock content %}