
*{
    margin: 0;
    padding: 0;
}
html,
body{
    font-family: 'Poppins', sans-serif !important;
}
.navbar{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}


.add_subject{
    /* background: #173979; */
    color: #fff;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s ease;
    margin-left: auto;
    border-radius: 5px;
}
.add_subject:hover{
    /* background: #2FB47D; */
    color: #fff;
}
.btn-success {
    color: #fff;
    background-color: #198754;
    border-color: #198754;
}

.main{
    background: #D7E5D8;
    min-height: 91vh;
    height: 100%;
}
.main .track_parent{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.color {
    background-color: royalblue;
}