{% extends 'registrarportal/enrollment/base1.html' %}
{% block content %}
{% load registrar_Tags %}
{% include 'registrarportal/messages/messages.html' %}


<style>
    .student_wrap{
        /* width: 1400px; */
        display:grid;
        grid-auto-flow: column;
        grid-template-columns: repeat(7, minmax(120px,1fr)) ;
        overflow-x: auto !important;
        overflow-y: hidden !important;
        grid-gap: 20px;
        transition: 0.3s ease !important;
        /* height: 500px; */
    }
    .student_wrap.active{
        transition: 0.3s ease;
    }
    .student_wrap p{
        text-align: nowrap;
    }
    .student_wrap .student_img_name{
        width: 180px;
    }
    .student_wrap .student_img_name img{
        height: auto;
        width: 100px;
        border-radius: 50%;
    }
    .img_report{
        position: relative;
    }
    .img_report img{
        height: 400px;
        width: auto;
    }
    .img_report h6{
        transition: 0.3s ease;
        position: absolute;
    }
    .img_report h6.active{
        position: unset;
    }
</style>
<div class="container-fluid" style="background: #fff;">
    <div class="container py-5">
        <form method="post">
            {% csrf_token %}
            <div class="input-group d-flex justify-content-center">
                <div class="form-outline" style="width:100%; max-width: 500px;">
                    <input type="search" name="search_this" id="search_this" class="form-control" placeholder="Student Name or ID" required/>
                </div>
                <input type="submit" value="Search" class="btn btn-primary mb-3">
            </div>
        </form>

        {% for student in students %}
        <div class="student_wrap bg-light border  p-3 mb-3">
            {% for img in student.studentpict|slice:"1" %}
                <div class="student_img_name">
                    <h6> Student Picture:</h6>
                    <img src="{{ img.user_image.url }}" alt=""> 
                </div>
            {% endfor %}

            <p> Name: {{student.full_name}} - {{student.admission.sex}} </p>
            <p> Year: {{student.year_level}} </p>
            <p> Age: {{student.age}} </p>
            <p> Strand: {{student.strand}} </p>
            <p> S.Y: {{student.enrolled_school_year}} </p>
            <p> Applied On: {{student.created_on|date:"l, j M o"}} </p>

            {% for img in student.reportcard|slice:"1" %}
            <div class="img_report">
                <h6 class="absolute"> Report Card: <img src="{{ img.report_card.url }}" alt=""> </h6>

            </div>
            {% endfor %}

            <p> Approved By: {{student.audited_by.display_name}} </p>

            <hr>

        </div>

        {% empty %}
            <h6> No enrolled students... </h6>
        {% endfor %}
    </div>
</div>

<div class="container py-4">
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-secondary btn-sm"> Prev </a>
            {% endif %}
    
            {% block pagination %}
                {% for page_number in page_obj.paginator.get_elided_page_range %}
                    {% if page_number == page_obj.paginator.ELLIPSIS %}
                        {{page_number}}
                    {% else %}
                        <a href="?page={{page_number}}" class="btn btn-secondary btn-sm"> {{page_number}} </a>
                    {% endif %}
                {% endfor %}
            {% endblock %}
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-secondary btn-sm"> Next </a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
        </span>
    </div>

</div>


<style>
    .box{
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    }
</style>
<script>
    const student_wrap = document.querySelectorAll('.student_wrap')
    student_wrap.forEach(i => {
        i.addEventListener('click', (e) => {
            const absolute = i.querySelector('.absolute')
            absolute.classList.toggle('active')
        })
    })
</script>

{% endblock content %}