{% extends 'studentportal/base1.html' %}
{% block content %}
{% load std_portal %}
{% include 'usersPortal/messages/messages.html' %}


<div class="main">
    <div class="submain">
<form id="postForm" method="post">
    {% csrf_token %}
    <!-- List of errors from forms.py -->
    {{ form.non_field_errors }}

    <div class="card_login">
        <h4> Reset Your Password </h4>

        <div class="form-outline">
            <div class="txt_field">
                {{ form.password|addclass:"form-control shadow-none" }} <!-- Input Field -->
                <!-- Input Field -->
                <span class="line"></span>
                <label for="{{ form.password.id_for_label }}" class="em form-label"> Password: </label>
              </div>
            {{ form.password.errors }}
        </div>

        <div class="form-outline mb-5">
            <div class="txt_field">
                {{ form.confirmpassword|addclass:"form-control shadow-none" }} <!-- Input Field --> <!-- Input Field -->
                <!-- Input Field -->
                <span class="line"></span>
                <label for="{{ form.confirmpassword.id_for_label }}" class="em form-label"> Confirm Password: </label>
              </div>
            {{ form.confirmpassword.errors }}
             
        </div>

        <input type="submit" value="Update" class="btn_login btn-block mb-3">
    </div>
<div>
    </div>
</div>
</form>

{% endblock content %}